In [23]:
import pandas as pd
google_stock = pd.read_csv('./lect_12_goog-1.csv')


print(' google_stock has shape: ', google_stock.shape)
print(' google_stock has dimension: ', google_stock.ndim)
print(' google_stock has size: ', google_stock.size)
# uncomment below line to see google_stock DataFrame
# google_stock

 google_stock has shape:  (3313, 7)
 google_stock has dimension:  2
 google_stock has size:  23191

In [24]:
# Get First row from google_stock DataFrame
# If we don't provide any argument, default it return 5 Rows
google_stock.head(1)

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  49.676899  51.693783  47.669952  49.845802  49.845802  44994500

In [25]:
# Get Last row from google_stock DataFrame
google_stock.tail(1)

            Date   Open        High    Low       Close   Adj Close   Volume
3312  2017-10-13  992.0  997.210022  989.0  989.679993  989.679993  1157700

In [26]:
# Check whether we have NaN values in DataFrame or not
google_stock.isnull().any()

Date         False
Open         False
High         False
Low          False
Close        False
Adj Close    False
Volume       False
dtype: bool

In [27]:
# get statistical information about DataFrame
google_stock.describe()

,Open,High,Low,Close,Adj Close,Volume
count,3313.000000,3313.000000,3313.000000,3313.000000,3313.000000,3.313000e+03
mean,380.186092,383.493740,376.519309,380.072458,380.072458,8.038476e+06
std,223.818650,224.974534,222.473232,223.853780,223.853780,8.399521e+06
min,49.274517,50.541279,47.669952,49.681866,49.681866,7.900000e+03
25%,226.556473,228.394516,224.003082,226.407440,226.407440,2.584900e+06
50%,293.312286,295.433502,289.929291,293.029114,293.029114,5.281300e+06
75%,536.650024,540.000000,532.409973,536.690002,536.690002,1.065370e+07
max,992.000000,997.210022,989.000000,989.679993,989.679993,8.276810e+07

In [28]:
# get statistical information on a single column
google_stock['Adj Close'].describe()

count    3313.000000
mean      380.072458
std       223.853780
min        49.681866
25%       226.407440
50%       293.029114
75%       536.690002
max       989.679993
Name: Adj Close, dtype: float64